/* General */
@import './components/_general.css';
/* Components */
@import './components/_navbar.css';
@import './components/_footer.css';
@import './components/_button.css';
@import './components/_text.css';
@import './components/_card.css';
@import './components/_section.css';
@import './components/_page-header.css';
@import './components/_pagination.css';

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
