:root {
  --bg-primary-one: #cda274;
  --bg-primary-two: #292f36;
  --bg-primary-three: #f4f0ec;
  --dark-text: #1f1f1f;
  --light-gray: #f6f6f6;
  --dark-gray: #4d5053;
}

.site-container {
  @apply w-full max-w-[90%] lg:max-w-[80%] mx-auto;
}

/* HOME PAGE */
.home {
  @apply w-full;
  &--banner {
    @apply w-full relative bg-white;
    &__container {
      @apply w-full h-[500px] lg:h-[850px] relative;
      img {
        @apply w-full h-full object-cover lg:rounded-bl-[291px];
      }
      &--text {
        @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
        &__wrap {
          @apply w-full lg:w-1/2;
          &--title {
            @apply text-50 lg:text-85 mb-4 lg:mb-2;
          }
          &--subtitle {
            @apply w-[80%] md:w-[60%] lg:w-full text-20 mb-5;
          }
        }
      }
    }
  }

  &--pwr {
    @apply flex flex-wrap md:-mx-3 lg:-mx-5;
    &__container {
      @apply w-full md:w-1/3 flex flex-col text-center md:px-3 lg:px-5 py-10 mb-10 md:mb-0 rounded-3xl transition-all duration-300;

      &:hover {
        @apply bg-primary-three;
      }

      &--title {
        @apply text-2xl mb-5;
      }
      &--subtitle {
        @apply text-20 mb-8 lg:mb-14 lg:px-4 xl:px-10 2xl:px-16;
      }
    }
  }

  &--wcta {
    @apply w-full flex flex-wrap flex-col-reverse lg:flex-row items-center;
    &__left {
      @apply w-full lg:w-5/12 lg:pr-16 2xl:pr-52;
      &--title {
        @apply mb-4 lg:mb-8;
      }
      &--subtitle {
        @apply text-20 mb-10;
      }
      &--contact {
        @apply w-full flex items-center gap-x-4 mb-4 lg:mb-10;
        &__icon {
          @apply p-7 rounded-full bg-primary-three;
          img {
            @apply w-8 h-8 object-cover;
          }
        }
        &__text {
          &--title {
            @apply font-bold text-2xl;
          }
          &--subtitle {
            @apply font-normal text-xl;
          }
        }
      }
    }
    &__right {
      @apply w-full lg:w-7/12 rounded-3xl lg:rounded-tr-[326px] lg:rounded-bl-[123px] overflow-hidden mb-4 lg:mb-0;
    }
  }

  &--wtpt {
    @apply w-full px-6 py-10 lg:py-20 bg-primary-three rounded-3xl lg:rounded-[70px];

    &__title {
      @apply w-full lg:w-2/5 mx-auto text-center mb-10;
    }
    &__comments {
      @apply flex flex-wrap flex-row gap-y-4 -mx-2;
      &--container {
        @apply w-full lg:w-1/3 px-2 flex flex-row;
      }
    }
  }

  &--client {
    @apply w-full flex flex-row flex-wrap justify-center items-center gap-x-0 gap-y-8 lg:gap-x-24;

    &__wrap {
      @apply w-1/2 md:w-1/3 lg:w-fit;

      img {
        @apply w-fit h-fit mx-auto;
      }
    }
  }

  &--projects {
    @apply w-full;

    &__title {
      @apply text-center mb-2;
    }
    &__subtitle {
      @apply text-center w-full lg:w-[50%] mx-auto mb-10 lg:mb-20;
    }

    &__container {
      @apply flex flex-wrap md:-mx-4 lg:-mx-8 2xl:-mx-24 gap-y-8 lg:gap-y-14;

      &--wrapper {
        @apply w-full md:w-1/2 md:px-4 lg:px-8 2xl:px-24 flex flex-row;

        &:nth-child(1) {
          .card-projects {
            img {
              @apply rounded-tr-[80px];
            }
          }
        }
        &:nth-child(2) {
          .card-projects {
            img {
              @apply rounded-tl-[80px];
            }
          }
        }
        &:nth-child(3) {
          .card-projects {
            img {
              @apply rounded-br-[80px];
            }
          }
        }
        &:nth-child(4) {
          .card-projects {
            img {
              @apply rounded-bl-[80px];
            }
          }
        }
      }
    }
  }

  &--articles {
    @apply w-full;

    &__title {
      @apply text-center mb-2;
    }
    &__subtitle {
      @apply text-center w-full lg:w-[50%] mx-auto mb-10 lg:mb-20;
    }

    &__container {
      @apply flex flex-wrap md:-mx-2 lg:-mx-4 gap-y-8 lg:gap-y-14;

      &--wrapper {
        @apply w-full md:w-1/3 md:px-2 lg:px-4 flex flex-row transition-all duration-300;
      }
    }
  }

  &--join {
    @apply w-full flex flex-col items-center text-center py-10 px-4 lg:p-20 bg-primary-two rounded-3xl lg:rounded-[70px];

    &__title {
      @apply text-white mb-3;
    }
    &__subtitle {
      @apply text-white mb-8;
    }
  }
}

/* SERVICES PAGE */
.services {
  @apply w-full;

  &--pwr {
    @apply flex flex-wrap md:-mx-3 lg:-mx-5;
    &__container {
      @apply w-full md:w-1/3 flex flex-col text-center md:px-3 lg:px-5 py-10 mb-10 md:mb-0 rounded-3xl transition-all duration-300;

      &:hover {
        @apply bg-primary-three;
      }

      &--title {
        @apply text-2xl mb-5;
      }
      &--subtitle {
        @apply text-20 mb-8 lg:mb-14 lg:px-4 xl:px-10 2xl:px-16;
      }
    }
  }

  &--hww {
    @apply w-full px-4 md:px-10 lg:px-20 xl:px-28 py-10 lg:py-20 rounded-3xl bg-primary-three;

    &__header {
      @apply w-full text-center mb-10 lg:mb-20;

      &--subtitle {
        @apply w-3/4 mx-auto mt-4;
      }
    }

    &__content {
      @apply flex flex-row flex-wrap gap-y-5 items-center md:-mx-4 lg:-mx-5 2xl:-mx-10 mb-10;

      &:nth-child(3),
      &:nth-child(5) {
        @apply flex-row-reverse;
      }

      &--img {
        border-radius: 0px 123px 0px 326.5px;
        @apply w-full;
      }

      &--left {
        @apply w-full md:w-1/2 md:px-4 lg:px-5 2xl:px-10;
      }
      &--right {
        @apply w-full md:w-1/2 md:px-4 lg:px-5 2xl:px-10;

        &__number {
          @apply w-full flex justify-between items-center mb-12;

          &--numb {
            @apply text-[80px] lg:text-[100px] text-white;
          }
        }

        &__content {
          @apply w-full;

          &--title {
            @apply mb-4;
          }
          &--subtitle {
          }
        }
      }
    }
  }
}

/* BLOGS */
.blogs {
  @apply w-full;

  &--latest {
    @apply w-full;

    &__container {
      @apply w-full p-6 border-[1px] border-primary-three rounded-[62px];

      &--wrapper {
        @apply flex flex-wrap items-center -mx-4;

        &__content {
          @apply w-full md:w-1/2 px-4;

          img {
            @apply w-full lg:h-[478px] object-cover rounded-[50px];
          }

          &--subtitle {
            @apply text-lg lg:text-xl mt-5 mb-10;
          }
          &--date {
            @apply text-base;
          }
        }
      }
    }
  }

  &--articles {
    @apply w-full;

    &__container {
      @apply flex flex-wrap md:-mx-2 lg:-mx-4 gap-y-8 lg:gap-y-10;

      &--wrapper {
        @apply w-full md:w-1/3 md:px-2 lg:px-4 flex flex-row transition-all duration-300;
      }
    }
  }

  &--section__title {
    @apply text-center lg:text-left mb-8;
  }

  &--detail {
    @apply w-full;

    &__container {
      @apply w-full flex flex-wrap justify-center relative;

      &--left {
        @apply w-full md:w-2/3 xl:w-3/4 md:pr-4 lg:px-8;
      }
      &--right {
        @apply w-full md:w-1/3 xl:w-1/4 h-fit md:pl-4;
      }
    }

    &__content {
      @apply w-full;

      &--title {
        @apply mb-5;
      }
      &--img {
        @apply w-full object-cover rounded-[50px];
      }
      &--date {
        @apply w-full flex justify-between py-12;
      }
      &--quote {
        @apply w-full flex flex-col justify-center items-center bg-primary-three rounded-[50px] px-8 py-10 lg:px-10 lg:py-14;

        &__icon {
          @apply w-[100px] lg:w-[150px] object-cover;
        }
        &__text {
          @apply italic text-center text-primary-one;
        }
      }
      &--tags {
        @apply w-full flex flex-wrap items-center border-t-[1px] border-b-[1px] border-primary-three py-5 lg:py-10;

        &__left {
          @apply w-full lg:w-1/2 flex flex-row items-center gap-x-5 mb-5 lg:mb-0;
        }
        &__right {
          @apply w-full lg:w-1/2 flex flex-row items-center justify-start lg:justify-end gap-x-14;
        }
      }
    }

    &__sticky {
      @apply w-full;

      &--search {
        @apply w-full relative rounded-xl text-primary-one placeholder:text-primary-one bg-primary-three px-6 py-4 focus:outline-none;

        &__icon {
          @apply absolute right-6 top-1/2 -translate-y-1/2 cursor-pointer bg-primary-three;
        }
      }

      &--categories {
        @apply w-full rounded-xl bg-primary-three px-6 py-4;
      }

      &--tags {
        @apply w-full;

        &__wrapper {
          @apply w-full flex flex-wrap items-center gap-2;
        }
      }
    }
  }

  &--tags {
    @apply w-fit px-6 py-3 bg-primary-three text-primary-two rounded-xl cursor-pointer transition-all duration-300;

    &:hover {
      @apply bg-primary-two text-primary-three;
    }
  }
}

/* PRICING */
.pricing {
  @apply w-full;

  &--container {
    @apply flex flex-wrap -mx-4;

    &__wrapper {
      @apply w-full lg:w-1/3 flex flex-row px-4;

      &--box {
        @apply w-full text-center flex flex-col py-10 lg:py-16 rounded-3xl bg-primary-three;

        &__title {
          @apply mb-2;
        }
        &__price {
          @apply text-85 mt-8;

          &--popular {
            @apply text-primary-one;
          }

          sub {
            @apply text-2xl text-primary-two;
          }
        }
        &__divider {
          @apply w-full relative flex-grow mb-4;

          &--most {
            @apply w-fit mx-auto px-9 py-2.5 bg-primary-two text-white font-bold text-center rounded-2xl relative z-10;
          }
          &--line {
            @apply w-full h-[1px] absolute top-1/2 -translate-y-1/2 left-0 z-0;
          }
        }

        &__benefit {
          @apply text-base lg:text-xl text-dark-gray mb-4;
        }
      }
    }
  }
}

/* CONTACT */
.contact {
  @apply w-full;

  &--us {
    @apply w-full;

    &__title {
      @apply w-full lg:w-1/2 mx-auto text-center mb-10 lg:mb-20;
    }

    &__container {
      @apply flex flex-wrap -mx-4;

      &--info {
        @apply w-full md:w-1/4 px-4;

        &__wrapper {
          @apply w-full px-4 lg:px-8 py-16 rounded-[50px] bg-primary-three;
        }
      }

      &--form {
        @apply w-full md:w-3/4 px-4;
      }
    }

    &__contact {
      @apply w-full flex items-center gap-x-4 mb-4;

      &--icon {
        @apply w-[52px] h-[52px] flex justify-center items-center rounded-full bg-white;
      }
      &--text {
        @apply text-base lg:text-xl text-primary-two;
      }
    }

    &__sosmed {
      @apply w-full flex items-center gap-x-8 mt-10;
    }
  }

  &--map {
    @apply w-full;

    img {
      @apply w-full object-cover;
    }
  }
}
